.documenttitle {
	margin-top:20px;
}

p.justify {
	text-align: justify;
}

.card img {
	display: block;
    margin: 0 auto;
    padding-bottom: 5px;
}

.member {
	max-width: 350px;
	height: 70px;
	margin: 15px;
}

.right {
	float: right;
}

.padded {
	padding: 10px;
}

.keyfiguretitle {
	color: black;
	font-style: italic;
	font-size: .75em;
}

.bold {
	font-weight: bold;
}

.country-list li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}

.text-center {
	text-align: center;
}
